#kyc-breadcrumbs{
  display: none;
}

.kyc-breadcrumbs {
    position: relative;
    z-index: auto;
    border-top: 1px solid #1e1e28;
    background-color: #d8312a;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    top: 60px;
    width: 100%;
    z-index: 8;
}
.kyc-breadcrumb {
    background-color: transparent;
    line-height: 20px;
    margin: 12px 0 0;
    padding: 0;
    font-size: 13px;
    color: #fff;
    border-radius: 0;
    list-style: none;
}
.kyc-breadcrumb a:hover{
  color: #fff;
}
.kyc-breadcrumb, .kyc-breadcrumb>li>a,.sidebar .btn {
    display: inline-block;
}
.kyc-breadcrumb>li, .kyc-breadcrumb>li.active {
    color: #fff;
    padding: 0 3px;
}
ul.kyc-breadcrumb li:after {
    content: '/';
    padding-left: 5px;
}
ul.kyc-breadcrumb li:last-of-type::after {
    content: none;
}
.kyc-breadcrumb>li, .pagination {
    display: inline-block;
}
.kyc-breadcrumb .home-icon {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
}
.ace-icon {
    text-align: center;
}
.kyc-breadcrumb>li>a {
    color: #fff;
}
.kyc-breadcrumb>li, .kyc-breadcrumb>li.active {
    color: #fff;
    padding: 0 3px;
}
.help-icon{
  cursor: help;
  color: #fff;
}
.pull-right-custom {
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.pull-right-custom ul {
    list-style: none;
    margin: 9px 0 0;
}
.kyc-breadcrumbs li a:hover {
    color: #eb9533 !important;
}
.q-question {
  box-sizing: border-box;
  background: rgba(0, 128, 128, 0.8);
  text-align: center;
  padding-bottom: 2.5em;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 0.25em solid #004d4d;
  padding: 0 1em 1em;
}
.q-question h3 {
  margin: 0;
  padding: .5em  0 .25em 0;
  font-weight: 700;
  font-size: 1.75em;
  text-transform: uppercase;
  color: #003334;
}
.q-question p {
  line-height: 1.65em;
  margin: 0 auto 1em auto;
  color: #cccccc;
  font-weight: 200;
  width: 65%;
}
.pull-right-custom ul li .dropdown-menu{
  display: block;
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.pull-right-custom ul li ul {
    left: 0 !important;
    position: absolute;
    width: 100%;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
}
.pull-right-custom ul li.open ul {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
}
.pull-right-custom li li {
    text-align: center;
    width: 100%;
}
.pull-right-custom ul li ul {
    padding: 15px !important;
    top: 30px !important;
}
@media (max-width: 50em) {
  .q-question p {
    width: 100%;
  }
}
.q-question form textarea {
  background: transparent;
  border: 1px solid #005f5f;
  border-radius: .25em;
  width: 55%;
  padding: .5em;
  outline: none;
  font-size: 1.25em;
  color: #cccccc;
  font-family: inherit;
  font-size: inherit;
  font-weight: 200;
  box-shadow: 5px 5px 0px #006464;
  box-sizing: border-box;
}
@media (max-width: 50em) {
  .q-question form textarea {
    width: 100%;
  }
}
.clickr {
  border: 1px solid rgba(255, 99, 71, 0.25);
  padding: 1em 2em;
  background: transparent;
  color: #eaeaea;
  text-transform: uppercase;
  border-radius: .75em;
  text-align: center;
  display: block;
  width: 200px;
  margin: auto auto;
  margin-top: 2em;
  outline: none;
}
.clickr:hover {
  border: 1px solid rgba(255, 99, 71, 0.4);
}
.clickr:active {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}
