.letter-background{
  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 20px;
}
.letter {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}
.card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.card .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.card-user .image {
    height: 180px;
}
.card {
    border-radius: 4px;
    box-shadow:none;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.card-user .avatar.border-gray {
    border-color: #EEEEEE;
}
.card-user .avatar {
    width: 124px !important;
    height: 124px !important;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}
.card-stats .card-header i {
    font-size: 30px;
    line-height: 28px;
    width: auto;
    height: auto;
}
.author .progress{
  height: auto;
  width: 100%;
  margin-top: 15px;
  display: block;
}
.update-profile-section {
    padding: 15px;
}
span.profile-dashboard {
  font-size: 20px;
  font-weight: 300;
  padding: 15px 0;
  display: block;
  text-transform: capitalize;
}
.update-profile-section span.profile-dashboard-form, .update-profile-section  span.pull-right {
    font-size: 14px;
}
.card-footer .stats i {
    padding-right: 5px;
}
.log-dashboard {
    display: inline-block;
    width: 100%;
}
