
ul.dropdown-menu li a i {
    margin-right: 5px;
}
.user-image{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
span.user-name {
    margin: 0 10px;
    text-align: left;
    float: right;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 18px;
}
.navbar .navbar-nav > li a.user-toggle{
  padding-top: 5px;
}
