.card label.control-label {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}
.wizard-actions .btn{
  opacity: 1;
}
span.Select-clear {
    display: none;
}
.Select-menu-outer{
  z-index: 999;
  position: absolute;
  top: 35px;
}
.main-content-inner .card .card-content{
  display: inline-block;
}
.card .checkbox-inline, .radio-inline {
  padding-left: 0px;
  vertical-align: baseline;
}

.card .radio label, .card .checkbox label {
  padding-left: 30px;
  color: #777;
}

.for-inline {
  display: inline;
}

.for-inline-checkbox {
  display: inline-block;
}

.form-group.for-inline {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 20px;
}

.form-group.for-inline input {
  margin: 0 10px;
}

input.form-control,textarea.form-control {
  font-size: 14px;
}

.radio-inline+.radio-inline {
  margin-left: 0px;
}

.checkbox-inline+.checkbox-inline {
  margin-left: 0px;
}

.checkbox-inline {
  margin-right: 10px;
  margin-bottom: 10px;
}

span.info {
  font-size: 12px;
  font-style: italic;
  top: 0;
  position: relative;
}

.Select.Select--single.is-searchable {
	margin-right: 15px;
	margin-bottom: 1rem;
	min-height: 49px;
	padding-bottom: 0;
	margin: 0;
	position: relative;
}
.step-pane h3, .step-pane h4 {
    font-weight: 600;
}
.with-black-border{
  border: 1px solid #d2d2d2;
padding: 15px;
}
.half-block-select .form-group {
    margin: 0;
    top: 40px;
}
.half-block-select.half-block-label .form-group{
      top: 25px;
}
.half-block-label .half-block-label-field{
  margin-top: 0;
  margin-bottom: 7px !important;
}
.Select-control{
	border:none;
	border-radius: 0px;
  border: 1px solid #d2d2d2;
}
/*.no-padding-left--right {
    padding-left: 0px;
    padding-right: 30px;
}*/
.select-height .label-floating {
    min-height: 55px;
}
.step-4 .select-height {
    height: 60px;
    margin-bottom: 35px;
}
.row.no-margin.inline {
    display: inline-block;
    width: 100%;
}
.step-pane h3 {
    font-size: 18px;
}
.step-pane h4 {
    font-size: 16px;
}
.step-pane h5 {
    font-size: 14px;
    font-weight: 600;
}

.card .table>tbody>tr>td, .card .table>tbody>tr>th, .card .table>tfoot>tr>td, .card .table>tfoot>tr>th, .card .table>thead>tr>td, .card .table>thead>tr>th{
	border-top:none;
}
.table .form-group{
	margin: 0;
	padding: 0;
	min-height: 20px;
}

.card.card-royal-inverse {
    width: 60%;
    margin: 0 auto;
    display: block;
}
.card.card-royal-inverse {
    background-color: #9c27b0;
    border-bottom: solid 3px #9c27b0;
    color: #fff;
}
.card .card-block>.ms-icon {
    margin: 10px 0;
    margin: 1rem 0;
}
.ms-icon.ms-icon-lg {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
}
.form-group label{
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
/*.steps>li:before, .steps>li.complete.active:before {
  display: block;
  content: "";
  width: 2px;
  height: 0px;
  font-size: 0;
  overflow: hidden;
  border-top: none;
  position: absolute;
  top: 100%;
  left: calc( 50% - 4px);
  z-index: 1;
  background: #9c27b0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
}

.steps>li.active {
  margin-bottom: 50px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
}*/
.select-bank {
  margin: 0 auto;
  float: none;
}
.form-content input {
    height: 36px;
}
.step-navigation {
    width: 100%;
    float: left;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 auto;
    display: block;
    position: relative;
}
.card .step-pane .card-content {
    padding: 15px 10px;
}
.for-steps{
  width: 100%;
}
/*.step-content{
    margin-left: 100px;
		padding-left: 15px;
}*/
/*.steps>li,.steps>li.complete.active {
    display: block;
    width: 100%;
		position: relative;
		margin-bottom: 10px;
		cursor: pointer;
		transition: all 0.6s ease-in-out;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
}*/
.steps>li.complete .step:before,.steps>li .step{
	line-height: 28px;
}
.nav-list>li.active:before{
	display: block;
}

.steps>li:last-of-type::before {
  content: none;
}

.for-type div {
  display: inline;
  padding-right: 10px;
  top: 0;
  position: relative;
}

.main-content .form-group label.control-label {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.form-horizontal .control-label {
  text-align: left;
}

.for-type .lbl::before {
  margin-right: 5px !important;
}

h3.block {
  padding-bottom: 20px;
  margin-top: 5px;
}

span.lbl h3 {
  display: inline;
}

.widget-main {
  padding: 20px 10px 50px;
}

.step-content .step-pane.active {
  display: inline;
  width: 100%;
}

.wizard-actions {
    text-align: right;
    padding: 40px 0;
		display: inline;
    float: right;
}

.wizard-actions button {
  margin-right: 15px;
}

input[type=checkbox].ace:checked+.lbl::before, input[type=radio].ace:checked+.lbl::before {
  color: #9c27b0 !important;
}

.click-on {
  position: relative;
  width: 40%;
  margin: 10px;
}

.div-inline {
  display: inline;
}

.for-type {
  padding-right: 10%;
}

.for-type label {
  font-size: 12px;
}

.credit-card-details, .nrn-details, .income-tax-details {
  display: none;
}

.col-5 {
  width: 20%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  width: 17%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.branch-checkbox {
  padding: 16px 0 1px;
}

.form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.gap {
  margin: 2px 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

.gap-large {
  margin: 15px 0;
  position: relative;
  display: inline-block;
  width: 100%;
  clear: both;
}

span.input-group-addon.add-on {
  position: relative;
  left: calc( 83.33333333% - 100%);
}

.form-group .info {
  font-size: 12px;
  font-style: italic;
  top: -5px;
  position: relative;
}
.step-pane td {
    color: #333;
    font-weight: 500;
}
ul.family-member-input, ul.family-member {
  list-style: none;
  margin: 0;
}

ul.family-member-input li, ul.family-member li {
  margin: 5px 0;
}

ul.family-member-input li {
  display: inline-block;
}

ul.family-member li {
  margin: 14px 0;
  height: 21px;
}

@media (max-width: 1215px){
  .steps>li .step{
    display: none !important;
  }
  .steps>li .title{
    font-size: 12px !important;
  }
  .steps>li{
    padding: 0 6px 15px !important;
  }
  .steps>li.active .title {
      border-bottom: 2px solid #af2cc5;
  }
}

@media (max-width: 991px){
    .checkbox-height{
        height: 40px;
    }
		.card label.control-label,.card label.control-label{
			font-size: 12px !important;
		}
    .checkbox-height {
      height: 40px;
  }
}

@media (max-width:767px){
  .step-content{
    margin-left: 0px;
  }
  .Select-control{
    font-size: 12px!important;
    font-weight: 400;
  }
  .step-pane h4, .step-pane h5{
      font-size: 12px !important;
  }
  .step-pane h3 {
    font-size: 14px !important;
  }
  h3.card-title{
    font-size: 16px !important;
  }
  #kyc-card{
    width: 250px !important;
  }
  input.form-control, textarea.form-control {
      font-size: 12px !important;
  }
.step-navigation {
    width: 65px;
    border: 1px solid #f3f3f3;
    position: fixed;
    background: #eee;
    left: 0;
    top: 22vh;
    padding: 5px;
    z-index: 9;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.17);

  }
  .steps>li,.steps>li.active.complete{
    margin-left: 5px;
  }
  .steps>li.active{
    margin-left: 0;
  }
  .steps>li .step {
    display: block !important;
  }
  .steps>li .title {
    font-size: 0px !important;
  }
  .steps>li.active .title {
    border-bottom:none;
  }
  .steps>li.active .step, .steps>li.active:before {
    width: 40px;
    height: 40px;
    line-height: 30px;
    transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
    -webkit-transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
  }
  .steps>li .step,.steps>li.complete.active .step {
    width: 30px;
    height: 30px;
    line-height: 24px;
    transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
    -webkit-transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out,height 0.6s ease-in-out;
}
.main-panel {
    transform: none;
    }
.main-panel, .wrapper-full-page, .navbar .container {
    transform: none;
  }

  #form-template{
        width: calc( 100% - 40px );
    margin-left: 40px;
  }

}



.drop-zone {
    margin-bottom: 20px;
		display: table;
}
.drop-zone > div {
	width: 100% !important;
	padding: 15px 15px 85%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
  position: relative;
  background: #f5f5f5;
  overflow: hidden;
}
.drop-zone img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}
.close-action {
    cursor: pointer;
    z-index: 2;
}

@media (min-width: 768px) {
    .container {
      max-width:750px;
			width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width:970px;
				width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        width: 100%;
    }
}
