.main-content {
    margin-left: 0;
    padding: 0
}
.main-content:after,.main-content:before {
    content: " ";
    display: table
}
.main-content:after {
    clear: both
}
.main-content-inner{
  /*background-color: #f7f7f7;*/
  padding: 10px 15px;
}
.page-content {
    position: relative;
    margin: 0;
    padding: 8px 20px 24px
}
.block {
    margin-bottom: 16px
}
.ace-icon {
    text-align: center
}
.lighter {
    font-weight: lighter
}
.block {
    display: block!important
}
.align-center,.center {
    text-align: center!important
}
.pos-rel {
    position: relative
}
.line-height-1 {
    line-height: 1!important
}
.bigger-110 {
    font-size: 110%!important
}

.no-padding {
    padding: 0!important
}

.no-padding-right {
    padding-right: 0!important
}
.nav-list>li>a>.menu-icon,.no_such_element:-o-prefocus {
    vertical-align: middle
}
.bank-add-btn, .relation-add-btn{
    margin: 50px 0 0 15px;
}
.half-block-select.half-block-label {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.select-bank-section{
    background-color: #f7f7f7;
    padding: 20px 15px;
}
.main-content-inner {
    float: left;
    width: 100%
}
label {
    font-weight: 400;
    font-size: 14px
}
.form-group>label[class*=col-] {
    margin-bottom: 4px
}
.form-control::-webkit-input-placeholder,input::-webkit-input-placeholder {
    color: silver
}
input:-moz-placeholder {
    color: silver;
    opacity: 1
}

input::-moz-placeholder {
    color: silver;
    opacity: 1
}
.form-control:-ms-input-placeholder,input:-ms-input-placeholder {
    color: silver
}

select {
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #858585;
    background-color: #FFF;
    border: 1px solid #D5D5D5
}
select:focus {
    color: #696969;
    border-color: #F59942;
    background-color: #FFF;
    outline: 0
}
select {
    padding: 3px 4px;
    height: 30px
}
select option {
    padding: 3px 4px 5px
}
select option:active,select option:focus,select option:hover {
    background-color: #EEE;
    color: #444
}
.input-append input {
    border-radius: 0
}
input[type=checkbox].ace,input[type=radio].ace {
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    cursor: pointer
}
label input[type=checkbox].ace,label input[type=radio].ace {
    z-index: -100!important;
    width: 1px!important;
    height: 1px!important;
    clip: rect(1px,1px,1px,1px);
    position: absolute
}
input[type=checkbox].ace:checked,input[type=checkbox].ace:focus,input[type=radio].ace:checked,input[type=radio].ace:focus {
    outline: 0!important
}
input[type=checkbox].ace+.lbl,input[type=radio].ace+.lbl {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #333;
}
input[type=checkbox].ace+.lbl::before,input[type=radio].ace+.lbl::before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #C8C8C8;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 1px;
    position: relative;
    top: -1px
}
input[type=checkbox].ace:checked+.lbl::before,input[type=radio].ace:checked+.lbl::before {
    display: inline-block;
    content: '\f00c';
    color: #32A3CE;
    background-color: #F5F8FC;
    border-color: #ADB8C0;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
}
input[type=checkbox].ace+.lbl:hover::before,input[type=checkbox].ace:hover+.lbl::before,input[type=radio].ace+.lbl:hover::before,input[type=radio].ace:hover+.lbl::before {
    border-color: #9c27b0;
}
input[type=checkbox].ace:focus+.lbl::before,input[type=radio].ace:focus+.lbl::before {
    border-color: #9c27b0;
}
input[type=checkbox].ace:active+.lbl::before,input[type=checkbox].ace:checked:active+.lbl::before,input[type=radio].ace:active+.lbl::before,input[type=radio].ace:checked:active+.lbl::before {
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1);
}
input[type=checkbox].ace:disabled+.lbl::before,input[type=radio].ace:disabled+.lbl::before {
    background-color: #DDD!important;
    border-color: #CCC!important;
    box-shadow: none!important;
    color: #BBB;
}
input[type=radio].ace+.lbl::before {
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    text-shadow: 0 0 1px #32A3CE;
    line-height: 15px;
    height: 17px;
    min-width: 17px
}
input[type=radio].ace:checked+.lbl::before {
    content: "\f111"
}
.input-group .input-group-addon {
    border-radius: 0!important
}
.widget-body .form-group input[type=email],.widget-body .form-group input[type=text],.widget-body .form-group input[type=number],.widget-body .form-group select,.widget-body .form-group textarea {
    background: #FFF
}
.form-group input:disabled,.form-group input[disabled] {
    color: #848484!important;
}
.widget-box {
    -webkit-box-shadow: none
}
td,th {
    border-radius: 0!important
}
@media only screen and (max-width: 767px) {
    .widget-box {
        margin-top:7px;
        margin-bottom: 7px
    }
}
.widget-main {
    padding: 12px
}
.steps>li .step {
    line-height: 30px;
    background-color: #FFF;
    text-align: center
}
.steps {
    list-style: none;
    display: table;
    width: auto;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.steps>li {
    display: block;
    text-align: center;
    width: auto;
    float: left;
    padding: 0 15px 15px;
    cursor: pointer;
}
.steps>li .step {
    border: 5px solid #CED1D6;
    color: #546474;
    font-size: 15px;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.steps>li:before {
    display: block;
    content: none;
    width: 0px;
    height: 0px;
    font-size: 0;
    border-top: 4px solid #CED1D6;
    position: absolute;
    top: 21px;
    z-index: 1;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
}
.steps>li:last-child:before {
    max-width: 50%;
    width: 50%
}
.steps>li.active:before {
    width: 2px;
    left: 50%;
    top: 100%;
    height: 40px;
}
.steps>li.active .step,.steps>li.active:before {
    border-color: #9c27b0;
}
.step-content {
    position: relative
}
.steps>li .title {
    display: block;
    margin-top: 4px;
    max-width: 100%;
    color: #949EA7;
    font-size: 14px;
    font-weight: 600;
    z-index: 104;
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word
}
.steps>li.active .title {
    color: #2B3D53
}
.step-content .step-pane {
    display: none;
    min-height: 200px;
    padding: 4px 8px 12px
}
.step-content .step-pane.active {
    display: inline-block;
    width: 100%;
}
.wizard-actions {
    text-align: right
}
@media only screen and (max-width: 767px) {
    .steps li .step,.steps li:after,.steps li:before {
        border-width:3px
    }

    .steps li .step {
        width: 30px;
        height: 30px;
        line-height: 24px
    }


    .steps li:before {
        top: 16px
    }

    .step-content .step-pane {
        padding: 4px 4px 6px;
        min-height: 150px
    }
}
.input-group.date .input-group-addon {
    cursor: pointer
}
@-moz-keyframes ringing {
    0% {
        -moz-transform: rotate(-15deg)
    }

    2% {
        -moz-transform: rotate(15deg)
    }

    12%,4% {
        -moz-transform: rotate(-18deg)
    }

    14%,6% {
        -moz-transform: rotate(18deg)
    }

    8% {
        -moz-transform: rotate(-22deg)
    }

    10% {
        -moz-transform: rotate(22deg)
    }

    16% {
        -moz-transform: rotate(-12deg)
    }

    18% {
        -moz-transform: rotate(12deg)
    }

    20% {
        -moz-transform: rotate(0)
    }
}

@-webkit-keyframes ringing {
    0% {
        -webkit-transform: rotate(-15deg)
    }

    2% {
        -webkit-transform: rotate(15deg)
    }

    12%,4% {
        -webkit-transform: rotate(-18deg)
    }

    14%,6% {
        -webkit-transform: rotate(18deg)
    }

    8% {
        -webkit-transform: rotate(-22deg)
    }

    10% {
        -webkit-transform: rotate(22deg)
    }

    16% {
        -webkit-transform: rotate(-12deg)
    }

    18% {
        -webkit-transform: rotate(12deg)
    }

    20% {
        -webkit-transform: rotate(0)
    }
}

@-ms-keyframes ringing {
    0% {
        -ms-transform: rotate(-15deg)
    }

    2% {
        -ms-transform: rotate(15deg)
    }

    12%,4% {
        -ms-transform: rotate(-18deg)
    }

    14%,6% {
        -ms-transform: rotate(18deg)
    }

    8% {
        -ms-transform: rotate(-22deg)
    }

    10% {
        -ms-transform: rotate(22deg)
    }

    16% {
        -ms-transform: rotate(-12deg)
    }

    18% {
        -ms-transform: rotate(12deg)
    }

    20% {
        -ms-transform: rotate(0)
    }
}

@keyframes ringing {
    0% {
        transform: rotate(-15deg)
    }

    2% {
        transform: rotate(15deg)
    }

    12%,4% {
        transform: rotate(-18deg)
    }

    14%,6% {
        transform: rotate(18deg)
    }

    8% {
        transform: rotate(-22deg)
    }

    10% {
        transform: rotate(22deg)
    }

    16% {
        transform: rotate(-12deg)
    }

    18% {
        transform: rotate(12deg)
    }

    20% {
        transform: rotate(0)
    }
}


@-moz-keyframes vertical {
    0%,16%,8% {
        -moz-transform: translate(0,-3px)
    }

    12%,20%,4% {
        -moz-transform: translate(0,3px)
    }

    22% {
        -moz-transform: translate(0,0)
    }
}

@-webkit-keyframes vertical {
    0%,16%,8% {
        -webkit-transform: translate(0,-3px)
    }

    12%,20%,4% {
        -webkit-transform: translate(0,3px)
    }

    22% {
        -webkit-transform: translate(0,0)
    }
}

@-ms-keyframes vertical {
    0%,16%,8% {
        -ms-transform: translate(0,-3px)
    }

    12%,20%,4% {
        -ms-transform: translate(0,3px)
    }

    22% {
        -ms-transform: translate(0,0)
    }
}

@keyframes vertical {
    0%,16%,8% {
        transform: translate(0,-3px)
    }

    12%,20%,4% {
        transform: translate(0,3px)
    }

    22% {
        transform: translate(0,0)
    }
}


@-moz-keyframes hand-pointer {
    0%,12%,24%,36% {
        -moz-transform: translate(0,0)
    }

    18%,30%,6% {
        -moz-transform: translate(5px,0)
    }
}


@-moz-keyframes wrenching {
    0% {
        -moz-transform: rotate(-12deg)
    }

    8% {
        -moz-transform: rotate(12deg)
    }

    10%,28%,30%,48%,50%,68% {
        -moz-transform: rotate(24deg)
    }

    18%,20%,38%,40%,58%,60% {
        -moz-transform: rotate(-24deg)
    }

    75% {
        -moz-transform: rotate(0)
    }
}

@-webkit-keyframes wrenching {
    0% {
        -webkit-transform: rotate(-12deg)
    }

    8% {
        -webkit-transform: rotate(12deg)
    }

    10%,28%,30%,48%,50%,68% {
        -webkit-transform: rotate(24deg)
    }

    18%,20%,38%,40%,58%,60% {
        -webkit-transform: rotate(-24deg)
    }

    75% {
        -webkit-transform: rotate(0)
    }
}

@-o-keyframes wrenching {
    0% {
        -o-transform: rotate(-12deg)
    }

    8% {
        -o-transform: rotate(12deg)
    }

    10%,28%,30%,48%,50%,68% {
        -o-transform: rotate(24deg)
    }

    18%,20%,38%,40%,58%,60% {
        -o-transform: rotate(-24deg)
    }

    75% {
        -o-transform: rotate(0)
    }
}

@-ms-keyframes wrenching {
    0% {
        -ms-transform: rotate(-12deg)
    }

    8% {
        -ms-transform: rotate(12deg)
    }

    10%,28%,30%,48%,50%,68% {
        -ms-transform: rotate(24deg)
    }

    18%,20%,38%,40%,58%,60% {
        -ms-transform: rotate(-24deg)
    }

    75% {
        -ms-transform: rotate(0)
    }
}

@keyframes wrenching {
    0% {
        transform: rotate(-12deg)
    }

    8% {
        transform: rotate(12deg)
    }

    10%,28%,30%,48%,50%,68% {
        transform: rotate(24deg)
    }

    18%,20%,38%,40%,58%,60% {
        transform: rotate(-24deg)
    }

    75% {
        transform: rotate(0)
    }
}

@-moz-keyframes blinking {
    0%,80% {
        opacity: 1
    }

    40% {
        opacity: 0
    }
}

@-webkit-keyframes blinking {
    0%,80% {
        opacity: 1
    }

    40% {
        opacity: 0
    }
}

@-ms-keyframes blinking {
    0%,80% {
        opacity: 1
    }

    40% {
        opacity: 0
    }
}

@keyframes blinking {
    0%,80% {
        opacity: 1
    }

    40% {
        opacity: 0
    }
}

@-moz-keyframes pulsating {
    0%,10%,20%,30%,40% {
        -moz-transform: scale(1)
    }

    25%,5% {
        -moz-transform: scale(.75)
    }

    15%,35% {
        -moz-transform: scale(1.25)
    }
}

@-webkit-keyframes pulsating {
    0%,10%,20%,30%,40% {
        -webkit-transform: scale(1)
    }

    25%,5% {
        -webkit-transform: scale(.75)
    }

    15%,35% {
        -webkit-transform: scale(1.25)
    }
}

@-ms-keyframes pulsating {
    0%,10%,20%,30%,40% {
        -ms-transform: scale(1)
    }

    25%,5% {
        -ms-transform: scale(.75)
    }

    15%,35% {
        -ms-transform: scale(1.25)
    }
}

@keyframes pulsating {
    0%,10%,20%,30%,40% {
        transform: scale(1)
    }

    25%,5% {
        transform: scale(.75)
    }

    15%,35% {
        transform: scale(1.25)
    }
}

.btn-scroll-up {
    border-width: 0;
    position: fixed;
    right: 2px;
    z-index: 99;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: -24px;
    visibility: hidden
}


.btn-scroll-up:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.btn-scroll-up:focus {
    outline: 0
}
.page-content>.row .col-xs-12 {
    float: left;
    max-width: 100%
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}
.Select-control input {
    height: auto;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0
}

.form-control::-webkit-input-placeholder {
  color: #636c72;
  opacity: 1
}

.form-control::-moz-placeholder {
  color: #636c72;
  opacity: 1
}

.form-control:-ms-input-placeholder {
  color: #636c72;
  opacity: 1
}

.form-control::placeholder {
  color: #636c72;
  opacity: 1
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eceeef;
  opacity: 1
}

.form-control:disabled {
  cursor: not-allowed
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px)
}

select.form-control:focus::-ms-value {
  color: #464a4c;
  background-color: #fff
}

.form-control-file, .form-control-range {
  display: block
}

.col-form-label {
  padding-top: calc(.5rem - 1px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0
}

.col-form-label-lg {
  padding-top: calc(.75rem - 1px * 2);
  padding-bottom: calc(.75rem - 1px * 2);
  font-size: 1.25rem
}

.col-form-label-sm {
  padding-top: calc(.25rem - 1px * 2);
  padding-bottom: calc(.25rem - 1px * 2);
  font-size: .875rem
}

.col-form-legend {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  font-size: 1rem
}

.form-control-static {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0
}

.form-control-static.form-control-lg, .form-control-static.form-control-sm, .input-group-lg>.form-control-static.form-control, .input-group-lg>.form-control-static.input-group-addon, .input-group-lg>.input-group-btn>.form-control-static.btn, .input-group-sm>.form-control-static.form-control, .input-group-sm>.form-control-static.input-group-addon, .input-group-sm>.input-group-btn>.form-control-static.btn {
  padding-right: 0;
  padding-left: 0
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}

.input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), .input-group-sm>select.input-group-addon:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
  height: 1.8125rem
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem
}

.input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]), .input-group-lg>select.form-control:not([size]):not([multiple]), .input-group-lg>select.input-group-addon:not([size]):not([multiple]), select.form-control-lg:not([size]):not([multiple]) {
  height: 3.166667rem
}

.form-group {
  margin-bottom: 1rem;
  min-height :60px;
}

.form-text {
  display: block;
  margin-top: .25rem
}

.form-check {
  position: relative;
  display: block;
  margin-bottom: .5rem
}

.form-check.disabled .form-check-label {
  color: #636c72;
  cursor: not-allowed
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer
}

.form-check-input {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem
}

.form-check-input:only-child {
  position: static
}

.form-check-inline {
  display: inline-block
}

.form-check-inline .form-check-label {
  vertical-align: middle
}

.form-check-inline+.form-check-inline {
  margin-left: .75rem
}

.form-control-feedback {
  margin-top: .25rem
}

.form-control-danger, .form-control-success, .form-control-warning {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem
}

.has-success .col-form-label, .has-success .custom-control, .has-success .form-check-label, .has-success .form-control-feedback, .has-success .form-control-label {
  color: #5cb85c
}

.has-success .form-control {
  border-color: #5cb85c
}

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea
}

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
}

.has-warning .col-form-label, .has-warning .custom-control, .has-warning .form-check-label, .has-warning .form-control-feedback, .has-warning .form-control-label {
  color: #f0ad4e
}

.has-warning .form-control {
  border-color: #f0ad4e
}

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: #fff
}

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E")
}

.has-danger .col-form-label, .has-danger .custom-control, .has-danger .form-check-label, .has-danger .form-control-feedback, .has-danger .form-control-label {
  color: #d9534f
}

.has-danger .form-control {
  border-color: #d9534f
}

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7
}

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E")
}

.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.form-inline .form-check {
  width: 100%
}

@media (min-width:576px) {
  .form-inline label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0
  }
  .form-inline .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle
  }
  .form-inline .form-control-static {
    display: inline-block
  }
  .form-inline .input-group {
    width: auto
  }
  .form-inline .form-control-label {
    margin-bottom: 0;
    vertical-align: middle
  }
  .form-inline .form-check {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0
  }
  .form-inline .form-check-label {
    padding-left: 0
  }
  .form-inline .form-check-input {
    position: relative;
    margin-top: 0;
    margin-right: .25rem;
    margin-left: 0
  }
  .form-inline .custom-control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0
  }
  .form-inline .custom-control-indicator {
    position: static;
    display: inline-block;
    margin-right: .25rem;
    vertical-align: text-bottom
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0
  }
}

.widget-body .form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 3
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0
}

.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle
}

.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem
}

.input-group-addon.form-control-sm, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.input-group-addon.btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem
}

.input-group-addon.form-control-lg, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.input-group-addon.btn {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem
}

.input-group-addon input[type=checkbox], .input-group-addon input[type=radio] {
  margin-top: 0
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.input-group-addon:not(:last-child) {
  border-right: 0
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn, .input-group-btn:not(:last-child)>.btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.form-control+.input-group-addon:not(:first-child) {
  border-left: 0
}

.Select--multi .Select-value {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(156, 39, 176, 0.4) !important;
    color: #333 !important;
}
.Select--multi .Select-value-icon{
        border-right: 1px solid rgba(156, 39, 176, 0.4) !important;
}
.Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #9c27b0 !important;
}
.wizard-actions button.btn.btn-primary:disabled {
    display: none;
}
.step-5 .Select.Select--single.is-searchable{
    min-height: 36px;
}