.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}
.alignnone {
  clear: both;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.site-branding{
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 0.8;
    margin-bottom: 5px;
    margin-top: 5px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.site-branding a{
    text-decoration: none;
}
.site-branding a h1 {
    font-size: 45px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 38px;
    opacity: 0.68;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.info-item .table,.form-item .table {
    display: table;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-duration: .5s;
    transform-origin: 161px 100%;
    transform: rotateX(0deg);
    border-top: 2px solid #D8312A;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
}

.info-item .table-cell, .form-item .table-cell {
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page input::-webkit-input-placeholder { /* Chrome */
  color: #646879;
}
.container-page input:-ms-input-placeholder { /* IE 10+ */
  color: #646879;
}
.container-page input::-moz-placeholder { /* Firefox 19+ */
  color: #646879;
  opacity: 1;
}
.container-page input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #646879;
  opacity: 1;
}
.container-page {
    position: relative;
    width: 600px;
    margin: 30px auto 0;
    height: 320px;
    background:linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    top: 220px;
    margin-top: -160px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page .box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-page .container-forms {
    position: relative;
}
.container-page .kyc-btn {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 90px;
    color: #fff;
    background-color: #D8312A;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page .kyc-btn:hover {
    opacity: 0.7;
}
.container-page .kyc-btn, .container-page input {
    padding: 10px 15px;
}
.input-field {
    position: relative;
    margin-bottom: 10px;
}
.icon {
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 3px;
    opacity: .5;
    color: #fff;
    font-size: 14px;
}
.container-page input {
    color: #afb1be;
    width: 100%;
    margin-top: -2px;
    background: #32364a;
    left: 0;
    padding: 5px 58px;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.container-page .container-forms .container-info {
    text-align: left;
    font-size: 0;
}
.container-page .container-forms .container-info .info-item {
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    opacity: 1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.container-page .container-forms .container-info .info-item p {
    font-size: 20px;
    margin: 20px;
}
.container-page .container-forms .container-info .info-item .kyc-btn {
    background-color: transparent;
    border: 1px solid #fff;
}
.container-page .container-forms .container-info .info-item .table-cell {
    /*padding-right: 35px;*/
}
.container-page .container-forms .container-info .info-item:nth-child(2) .table-cell {
    /* padding-left: 35px;*/
    padding-right: 0;
}
.field {
    padding: 0 25px;
}
.field.login_fields__user {
    margin-top: 20px;
}
.container-page .container-form {
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: -30px;
    width: 305px;
    height: 480px;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page .container-form:before {
    content: "✔";
    position: absolute;
    left: 160px;
    top: -50px;
    color: #5356ad;
    font-size: 130px;
    opacity: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page .container-form .kyc-btn {
    position: relative;
    box-shadow: 0 0 10px 1px #2c2121;
    margin-top: 30px;
    display: block;
    border: none;
}
.container-page .form-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container-page .form-item.sign-up {
    position: absolute;
    left: -100%;
    opacity: 0;
}
.container-page .form-item i{
  color: #fff;
}
.container-page.log-in .box:before {
    position: absolute;
    left: 180px;
    top: 62px;
    height: 265px;
}
.container-page.log-in .box:after {
    top: 22px;
    left: 192px;
    width: 324px;
    height: 220px;
}
.container-page.log-in .container-form {
    left: 265px;
}
.container-page.log-in .container-form .form-item.sign-up {
    left: 0;
    opacity: 1;
}
.container-page.log-in .container-form .form-item.log-in {
    left: -100%;
    opacity: 0;
}
.container-page input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0px 1000px #32364a inset !important;
 color:#fff;
 -webkit-text-fill-color: #fff !important;
  }
/*
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}*/
.container-page .verify_fields__user{
    display: none !important;
}
.container-page.log-in.active .verify_fields__user{
    display: block !important;
}
.container-page.log-in.active .signup_fields__user, .container-page.log-in.active .login_fields__user{
    display: none;
    opacity: 0;
    padding: 0px;
    margin: 0 auto;
    height: 0;
}

.container-page.active .form-item {
    height: 100%;
}
/*.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}*/
.validation {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  color: #d8312a;
}
.rabbit {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    fill: #fff;
}
.forgot {
    font-size: 10px;
    margin: 0;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 7px;
    color: #fff;
    opacity: 1 !important;
}
.forgot a {
    color: #fff;
}
.field a {
    padding-left: 5px;
    color: #d8312a;
    text-decoration: none;
}
h4.header-login, h4.header-signup {
    color: #fff;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
}
h4.header-login i, h4.header-signup i {
    padding-right: 8px;
}
/*input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    height: 28px;
    width: 48px;
    margin: 0px;
    float: left;
    padding: 5px;
    border-radius: 1.5em;
    background-color: #cacaca;
    border-color: transparent;
    background-clip: padding-box;
    color: #fff;
    vertical-align: middle;
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-color: white;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-clip: padding-box;
    z-index: 2;
}
input[type="checkbox"]:focus {
    color: white;
    border-color: transparent;
    background-color: #919FAF;
}
input[type="checkbox"]:checked {
    color: white;
    background-color: #1ABC9C;
    border-color: transparent;
}
input[type="checkbox"]:checked::before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
input[type="checkbox"]:checked::before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
input[type="checkbox"]::after {
    position: absolute;
    left: 0.675em;
    top: 0.375em;
    font-family: "Ionicons";
    content: "\f121 \f129";
    letter-spacing: 0.75em;
    z-index: 1;
    content: "yes no";
   letter-spacing: 0px;
   font-size: smaller;

}*/
.form-item [type="checkbox"]:not(:checked),
.form-item [type="checkbox"]:checked {
  position: absolute;
  display: none;
}
.form-item [type="checkbox"]:not(:checked) + label,
.form-item [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 85px;
  padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}
.form-item [type="checkbox"]:not(:checked) + label:before,
.form-item [type="checkbox"]:checked + label:before,
.form-item [type="checkbox"]:not(:checked) + label:after,
.form-item [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
.form-item [type="checkbox"]:not(:checked) + label:before,
.form-item [type="checkbox"]:checked + label:before {
  width: 65px;
  height: 30px;
  background: rgba(255,255,255,.2);
  border-radius: 15px;
  left: 0;
  top: -3px;
  transition: all .2s ease;
}
.form-item [type="checkbox"]:not(:checked) + label:after,
.form-item [type="checkbox"]:checked + label:after {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  top: 7px;
  left: 10px;
  transition: all .2s ease;
}
/* on checked */
.form-item [type="checkbox"]:checked + label:before {
  background: rgba(117, 45, 129, 0.74);
}
.form-item [type="checkbox"]:checked + label:after {
  background: #ffffff;
  top: 7px;
  left: 45px;
}
.form-item [type="checkbox"]:checked + label .ui,
.form-item [type="checkbox"]:not(:checked) + label .ui:before,
.form-item [type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    transition: all .2s ease;
}
.form-item [type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
  color: rgba(255,255,255,.7);
}
.form-item [type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #ffffff;
}
.form-item [type="checkbox"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}




.field label {
    font-size: 11px;
    text-transform: uppercase;
    color: #919FAF;
    padding-left: 10px;
    margin-top: 10px;
}
.overlay{
    position:fixed;
    background: url("../../../../../public/assets/images/footer_lodyas.png");
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.container-form .visible-xs{
    display: none !important;
}
@media (max-width: 599px){
    .container-form .visible-xs{
        display: block !important;
        padding-top: 30px;
    }
    .container-page.log-in.active .visible-xs {
        display: none;
    }
    .visible-xs p {
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .container-page,.container-page .container-forms .container-info .info-item{
        width: 320px;
    }
    .container-page .container-form{
        height: 500px;
        margin-bottom: 50px;
    }
    .container-info .info-item:last-of-type {
        display: none !important;
    }
    .container-page .container-form,.container-page.log-in .container-form{
        left: 7.5px;
    }
    .form-item .mobile-signup.sign-up-form {
        background-color: transparent;
        border: 1px solid #fff;
        box-shadow: none;
        margin: 0 auto;
        padding: 3px 5px;
        font-size: 12px;
    }

}


@-webkit-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-moz-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-o-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-ms-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}
