  .transition-appear {
opacity: 0.01;
}

.transition-appear.transition-appear-active {
opacity: 1;
transition: opacity 300ms ease-in;
}

.transition-leave {
display: none;
}

.transition-leave.transition-leave-active {
display: none;
transition: opacity 300ms ease-in;
}
