
#kyc-card {
  position: relative;
  top: 50px;
  width: 320px;
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(156,39,176,1);
-moz-box-shadow: 0px 3px 10px 0px rgba(156,39,176,1);
box-shadow: 0px 3px 10px 0px rgba(156,39,176,1);
}

#kyc-upper-side {
  padding: 2em;
  background-color: #9c27b0;
  display: block;
  color: #fff;
}

#kyc-checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#kyc-status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}

#kyc-lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
}

#kyc-message {
  margin-top: -.5em;
  color: #757575;
  letter-spacing: 1px;
}

#kyc-contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  background: #9c27b0;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}

#kyc-contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}
